body {
background-color: #424242;
color: #ffffff;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
}

.better-p {
    font-size: 1.2em;
    line-height: 1.6;
          }

.overlay {
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 1em; /* to create extra space */
}

.overlay::before {
  content: '';
  position: absolute;
  top: -0.3em;
  left: -0.3em;
  right: -0.3em;
  bottom: -0.3em;
  background-color: #302c2c;
  z-index: -1;
  border-radius: 15px;
}

.vertical-adjust-body {
    margin-top: 3em;
    margin-bottom: 3em;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* optional: to center the image */
}
