<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
</head>
<body>
    <h1>
        {{ article.title }}
    </h1>

    <h6>
        {{ article.title }} by
        {% for author in article.authors.all %}
            {{ author.user.username }}{% if not forloop.last %}, {% endif %}
        {% endfor %}, Published on {{ article.created_at }}
        {% if article.updated_at != article.created_at %}
          (updated on {{ article.updated_at }})
        {% endif %}
    </h6>

    <p>
        {{ article.body }}

    </p>
    <a href="{% url 'blog_app:Home' %}">go back to article list</a>

    {% include "blog_app/login_status.html" %}

{% if role.role == 1 %}
<a href="{% url 'blog_app:article_update article.id'%}"></a>
{%endif%}

</body>
</html>
