<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pouria's Blog</title>
</head>
<body>
<h1> Freshest Articles! </h1>
<ul>
    {% for article in articles %}
        <li>
            <a href="{% url 'blog_app:ArticleView' article.id %}">{{ article.title }}</a>
            by
            {% for author in article.authors.all %}
                {{ author.user.username }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            , Published on {{ article.created_at }}
        {% if article.updated_at != article.created_at %}
          (updated on {{ article.updated_at }})</li>
        {% endif %}
    {% empty %}
        <p>No books available.</p>
    {% endfor %}
</ul>
</body>
</html>
